---
import { type CollectionEntry, getCollection, render } from "astro:content";
import Base from "layouts/Base.astro";
import { GoBack } from "~/components/ui";

export async function getStaticPaths() {
	const entries = await getCollection("blog");

	return entries.map((entry) => ({
		params: { slug: entry.id },
		props: entry,
	}));
}

type Props = CollectionEntry<"blog">;

const entry = Astro.props;
const { Content } = await render(entry);
---

<Base title={entry.data.title}>
  <article>

    <div class="h-20" />
    <GoBack />

    <h1>{entry.data.title}</h1>

    <p>{entry.data.description}</p>

    <a target="_blank" href={entry.data.link} class="glow-text">
      <img
        class="mb-10 rounded-lg mx-auto aspect-video object-cover"
        src={entry.data.hero}
        alt={entry.data.title}
      />
    </a>

    <Content />

  </article>
</Base>
