---
import { getCollection } from 'astro:content'
import { GoBack, Card } from '~/components/ui'
import Base from '~/layouts/Base.astro'

const [posts, featured] = await Promise.all([
  getCollection('blog'),
  getCollection('blog').then((data) => data.filter((c) => c.data.featured)),
])
---

<Base>
  <div class="prose-container">
    <div class="h-20"></div>

    <GoBack />
    <h1 class="mb-5 text-slate-200">Featured</h1>
    <ul>
      {
        featured.map((post) => (
          <a href={`/blog/${post.slug}`}>
            <Card border className="glow">
              <p class="text-lg mb-3 font-semibold text-slate-200">
                {post.data.title}
              </p>
              <p class="small text-white">{post.data.description}</p>
            </Card>
          </a>
        ))
      }
    </ul>

    <h1 class="mb-5 mt-10 text-slate-200">All posts</h1>
    <ul>
      {
        posts.map((post) => (
          <li class="!ml-0 mb-3">
            <Card className="hover:bg-crust">
              <a
                href={`/blog/${post.slug}`}
                class="text-text flex justify-between"
              >
                <p class="text-text">{post.data.title}</p>
                <time>
                  <i>{post.data.pubDate.toLocaleDateString()}</i>
                </time>
              </a>
            </Card>
          </li>
        ))
      }
    </ul>
  </div>
</Base>
