---
import { getCollection } from 'astro:content'

import { Envelope, Github, Linkedin } from '../components/ui/icons'
import Base from '../layouts/Base.astro'
import { Button, Project } from '~/components/ui'
const portfolioEntries = await getCollection('portfolio').then((data) =>
  data.sort((a, b) => a.data.sortOrder - b.data.sortOrder),
)
---

<Base>
  <section class="container max-w-[90ch]"></section>
  <section>
    <header class="container max-w-prose sm:my-20">
      <h1>
        Hello! I'm a <strong class="text-white">fullstack engineer</strong> 🚀 with
        a focus on frontend. Working with Typescript, React, Solid, and Rust.
      </h1>
      <div class="flex flex-col sm:flex-row justify-between mt-10 gap-2">
        <div class="flex flex-col sm:flex-row gap-2">
          <Button link href="#about" class="shrink-0">About me</Button>
          <Button href="#portfolio" link fluid>Portfolio</Button>
        </div>
      </div>
    </header>
  </section>

  <section class="bg-base rounded-md py-10" id="about">
    <div class="article">
      <h2>About me</h2>
      <p>
        I started to program when I was 15 years old, and I never stopped since
        that day. When I was 18 I began my Technologist Degree in System
        Analysis and Development while working in an internship.
      </p>
      <p>
        When I graduated, I started to work as a fullstack developer, I was
        working with bleeding-edge technology from the very beggining of my
        career.
      </p>
      <p>
        Besides working with tech, I have a passion for languages. I'm fluent in
        English, and I'm currently learning German (A2 Level).
      </p>
      <div class="flex flex-col sm:flex-row gap-3">
        <Button
          href="/gabriel-cv.pdf"
          link
          variant="outlined"
          download="gabriel-cv.pdf"
        >
          Resume.pdf
        </Button>
        <Button
          href="/recommendation-letter.pdf"
          download="recommendation-letter.pdf"
          link
          variant="outlined"
        >
          Recommendation Letter.pdf
        </Button>
      </div>
    </div>
  </section>

  <section id="portfolio">
    <div class="article">
      <h2>Portfolio</h2>
      <p>
        Only my best work is listed here. Click on a project to read more about
        it.
      </p>
    </div>

    <div
      class="grid gap-5 sm:grid-cols-2 sm:grid-rows-2 container max-w-[100ch] mt-10"
    >
      {
        portfolioEntries.map((entrie) => (
          <Project
            class={
              entrie.data.title === 'Dots'
                ? 'row-span-2 [&_img]:h-full [&_img]:!object-cover'
                : ''
            }
            title={entrie.data.title}
            description={entrie.data.description}
            image={entrie.data.image}
          />
        ))
      }
    </div>
  </section>

  <section id="contact">
    <div class="article">
      <h2>Contact</h2>
      <p>You can contact me through:</p>

      <div class="flex flex-wrap gap-10">
        <Button
          class="justify-start !p-0 !text-primary"
          variant="text"
          icon={Linkedin}
          link
          href="https://linkedin.com/in/gabriel-costa-dev/"
        >
          Linkedin
        </Button>
        <Button
          class="!p-0 !text-primary"
          icon={Github}
          variant="text"
          link
          href="https://github.com/gabrieldemian"
        >
          Github
        </Button>
        <Button
          class="!p-0 !text-primary"
          variant="text"
          link
          icon={Envelope}
          href="mailto:gabrielgcr45@gmail.com"
        >
          Email
        </Button>
      </div>
    </div>
  </section>
</Base>
