---
import { getCollection } from 'astro:content'
import Base from '../layouts/Base.astro'
import { Button, Project } from '~/components/ui'
import { Envelope, Github, Linkedin } from '~/components/ui/icons'
const portfolioEntries = await getCollection('portfolio').then((data) =>
  data.sort((a, b) => a.data.sortOrder - b.data.sortOrder),
)
---

<Base>
  <!-- <section class="container max-w-[90ch]"></section> -->
  <section>
    <header class="container max-w-prose sm:my-20">
      <h1>
        Hello! I'm a <strong class="text-white">fullstack engineer</strong> 🚀. Working with Rust, Typescript, React, and more. Living in Estonia.
      </h1>
      <div class="flex flex-col sm:flex-row justify-between mt-10 gap-2">
        <div class="flex flex-col sm:flex-row gap-2">
          <Button as="a" href="#about" class="shrink-0">About me</Button>
          <Button as="a" href="#portfolio" fluid>Portfolio</Button>
        </div>
      </div>
    </header>
  </section>

  <section class="bg-base rounded-md py-10" id="about">
    <div class="article">
      <h2>About me</h2>
      <p>
        I love working with complex things, studying, and the feeling of evolution.
        I'm deeply interested by (but not limited to):
        Decentralized systems, Neovim, Linux, Bitcoin, multi-threaded programs, networking systems, UI design, etc.
      </p>
      <p>
        I'm also the creator of a free and open-source project called
        <a target="_blank" class="glow-text" href="https://github.com/gabrieldemian/Vincenzo">Vincenzo</a>.
      </p>
      <div class="flex flex-col sm:flex-row gap-3">
        <Button
          as='a'
          href="/gabriel-cv.pdf"
          variant="outlined"
          download="gabriel-cv.pdf"
        >
          Resume.pdf
        </Button>
        <Button
          as='a'
          href="/recommendation-letter.pdf"
          download="recommendation-letter.pdf"
          variant="outlined"
        >
          Recommendation Letter.pdf
        </Button>
      </div>
    </div>
  </section>

  <section id="portfolio">
    <div class="article">
      <h2>Portfolio</h2>
      <p>
        Only my best work is listed here. Click on a project to read more about
        it.
      </p>
    </div>

    <div
      class="grid gap-5 sm:grid-cols-2 sm:grid-rows-2 container max-w-[100ch] mt-10"
    >
      {
        portfolioEntries.map((entrie) => (
          <Project
            class={
              entrie.data.title === 'Dots'
                ? 'row-span-2 [&_img]:h-full [&_img]:!object-cover'
                : ''
            }
            title={entrie.data.title}
            description={entrie.data.description}
            image={entrie.data.image}
          />
        ))
      }
    </div>
  </section>

  <section id="contact">
    <div class="article">
      <h2>Contact</h2>
      <p>You can contact me through:</p>

      <div class="flex flex-wrap gap-10">
        <Button
          class="justify-start !p-0 !text-primary"
          variant="text"
          icon={Linkedin}
          as='a'
          href="https://linkedin.com/in/gabriel-lombardo-dev/"
        >
          Linkedin
        </Button>
        <Button
          class="!p-0 !text-primary"
          icon={Github}
          variant="text"
          as='a'
          href="https://github.com/gabrieldemian"
        >
          Github
        </Button>
        <Button
          class="!p-0 !text-primary"
          variant="text"
          icon={Envelope}
          as='a'
          href="mailto:gabrielgcr45@gmail.com"
        >
          Email
        </Button>
      </div>
    </div>
  </section>
</Base>
