---
import type { MarkdownLayoutProps } from "astro";
import { GoBack } from "../components/ui";
import Base from "./Base.astro";

type Props = MarkdownLayoutProps<{
	title: string;
	description: string;
	pubDate?: string;
	updatedDate?: string;
	hero?: string;
}>;

const {
	frontmatter: { title, description, pubDate, updatedDate, hero },
} = Astro.props;
---

<Base title={title} description={description}>
  <article>
    <div class="h-20" />

    <GoBack href="/blog" />

    <h1>{title}</h1>
    {pubDate && <time class="mb-5">{pubDate}</time>}

    {
      updatedDate && (
        <div>
          Last updated on <time>{updatedDate}</time>
        </div>
      )
    }

    {hero && <img width={720} height={360} src={hero} alt={description} class="my-5" />}

    <slot />

  </article>
</Base>
