---
import Base from './Base.astro'
import { GoBack } from '../components/ui'

const {
  content: { title, description, pubDate, updatedDate, image },
} = Astro.props
---

<Base title={title} description={description}>
  <article>
    <div class="h-20"></div>
    {image && <img width={720} height={360} src={image} alt="" />}

    <GoBack href="/blog" />

    <h1>{title}</h1>

    <time>{pubDate}</time>
    {
      updatedDate && (
        <div>
          Last updated on <time>{updatedDate}</time>
        </div>
      )
    }
    <div class="h-10"></div>
    <slot />
  </article>
</Base>
