---
import { getCollection } from 'astro:content'

import Base from '~/layouts/Base.astro'

export async function getStaticPaths() {
  const blogEntries = await getCollection('portfolio')

  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Base title={entry.data.title} description={entry.data.description}>
  <article>
    <h1 class="text-center">{entry.data.title}</h1>
    <p class="text-center">{entry.data.description}</p>
    <a target="_blank" href={entry.data.link}>
      <img class="mb-10 rounded-lg" src={entry.data.image} />
    </a>
    <Content />
  </article>
</Base>
