---
import { getCollection } from 'astro:content'

import { GoBack } from '~/components/ui'

import Base from '~/layouts/Base.astro'

export async function getStaticPaths() {
  const blogEntries = await getCollection('portfolio')

  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Base title={entry.data.title} description={entry.data.description}>
  <article>
    <div class="h-20"></div>
    <GoBack />
    <h1>{entry.data.title}</h1>
    <p>{entry.data.description}</p>
    <a target="_blank" href={entry.data.link} class="glow">
      <img
        class="mb-10 rounded-lg mx-auto aspect-video object-cover"
        src={entry.data.image}
      />
    </a>
    <Content />
  </article>
</Base>
